<div id="comment_form_div">
    <%= form_for ([@post, @comment]) do |f| %>
            <%= f.label :body %>
            <%= f.text_area :body, class: "text-area" %>
            <%= f.hidden_field :post_id %>
            <%= f.submit %>
    <% end %>
</div>
